# generic patterns
**/gitignore/
**/.data/
**/_data/
**/data.*/
**/.test/
**/_test/
**/.playcorner/
**/_playcorner/

# program specific patterns
**/\.idea/

*.m~
*.asv

*.sublime-project
*.sublime-workspace

**/\.ipynb_checkpoints/

**/venv/

# Python caching directories
**/\__pycache__/

# Python packaging directories and files
**/*.egg-info
**/dist/*.tar.gz
**/dist/*.egg
**/dist/*.exe
**/build/lib/*
**/build/bdist.*/*

# Python sphinx documentation files
**/docs/build/

# MyPy caching directory
**/.mypy_cache/

# logs
**/logs/*
**/logs*/*

# common data files
*.gz
*.zip
*.h5
*.npy
*.mat
*.pkl
*.png
*.csv

# macOS
\.DS_Store
**\._*
